*{
  margin: 0;
}

body {
   background-color: #f5f6fa;
}


.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

}

.app__stats{
  display: flex;
  justify-content: space-between;
}

.infoBox {
  margin: 20px; 
  padding: 10px; 
} 

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
 
}
.app_graph{
  flex-grow: 1; 
  height:300px
}
.app__left{
  flex: 0.9;
}

.table{
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  overflow: scroll;
  height: 400px;
  color: #6a5d5d;
}

.table tr:nth-of-type(odd){
  background-color: #f3f2f8;
}


@media (max-width: 990px){
  .app {
    flex-direction: column;
  }

  .table tr{
    display: flex;
    justify-content: space-between;
  }

  .table td{
    padding: 0.5rem;

  }
}




